.container {
  padding: 0 2rem;
  position: relative;
  padding-top: 20px;
}

.textLink {
  text-decoration: underline;
}

.textLink:hover {
  color: aquamarine;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  max-width: 960px;
  padding-top: 40px;
}

.navigationUL {
  padding: 0;
  list-style: none;
  line-height: 3;
  margin: 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.navigationLI {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 0 2rem;
}

.navigationIL:hover {
  color: #0070f3;
}

.workshot {
  position: relative;
  width:100%;
}

.display {
  font-size: 4rem;
}

.workSectionL,
.workSectionR {
  padding: 0 24px;
  width: 50%;
  display: inline-table;
  min-height: 500px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.loading {
  background-color: #EEF0F3;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.footer a {
  align-items: center;
  flex-grow: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 0.5em 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.1;
  font-size: 2rem;
  margin: 0.7rem 0;
  max-width: 920px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }

  .navigation {
    background-color: #222;
    color: #fff;
    border-color: #fff;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
